<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Przeglądaj najnowsze oferty na stronie
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="instrument-index-grid pt4">
  <% @przedmiots.each do |przedmiot| %>

    <div class="instrument border-light">
      <div class="instrument-thumb">
      <%= link_to image_tag(przedmiot.image_url(:thumb)), przedmiot %>
      <% if przedmiot.conditon? %>
        <div class="condition">
          <span class="tag is-dark"><%= przedmiot.conditon %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to przedmiot.title, przedmiot %></h3>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(przedmiot.price,:unit => "zł " ) %></p>

      <% if przedmiot_author(przedmiot) %>
         <%= link_to 'Edytuj', edit_przedmiot_path(przedmiot), class: "button is-small" %>
         <%= link_to 'Usuń', przedmiot, method: :delete, data: { confirm: "Na pewno usunąć przedmiot?" }, class: "button is-small" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>