<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @przedmiot.title %></h1>

      <ul class="pv1">
        <% if @przedmiot.brand? %>
        <li class="inline-block pr3"><%= @przedmiot.brand %></li>
        <% end %>

        <li class="inline-block pr3"><%= @przedmiot.model %></li>

        <% if @przedmiot.conditon? %>
        <li class="inline-block pr3"><%= @przedmiot.conditon %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <%= image_tag(@przedmiot.image_url(:default)) %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Opis</h3>
      <%= @przedmiot.description %>


      <h3 class="subtitle is-4 pt5">Specyfikacje produktu:</h3>

      <table class="table is-narrow">
        <% if @przedmiot.conditon %>
        <tr>
          <td class="has-text-weight-bold">Stan:</td>
          <td><%= @przedmiot.conditon %></td>
        </tr>
        <% end %>
        <% if @przedmiot.brand %>
          <tr>
            <td class="has-text-weight-bold">Marka:</td>
            <td><%= @przedmiot.brand %></td>
          </tr>
        <% end %>
          <% if @przedmiot.size %>
        <tr>
          <td class="has-text-weight-bold">Rozmiar:</td>
          <td><%= @przedmiot.size %></td>
        </tr>
        <% end %>
        <tr>
          <td class="has-text-weight-bold">Model:</td>
          <td><%= @przedmiot.model %></td>
        </tr>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@przedmiot.price,:unit => "zł ") %></h4>
        <%= button_to 'Dodaj do koszyka', line_items_path(przedmiot_id: @przedmiot, przedmiot_title: @przedmiot.title), class: 'button is-warning add-to-cart' %>
      </div>
    </div>
  </div>

</section>