<p id="notice"><%= notice %></p>

<h1>Koszyks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @koszyks.each do |koszyk| %>
      <tr>
        <td><%= link_to 'Show', koszyk %></td>
        <td><%= link_to 'Edit', edit_koszyk_path(koszyk) %></td>
        <td><%= link_to 'Destroy', koszyk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Koszyk', new_koszyk_path %>
